table {
    width: 100%;
}

.table-container {
    width: 96%;
    margin-left: 1%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 30%;
  margin-left: 1%;
}

.demo-button {
    float: right;
    margin-right: 3%;
}

.mat-column-name {
    flex: none;
    max-width: 20em;
}

.mat-column-description {
    flex: none;
    max-width: 35em;
}

.mat-column-preview {
    flex: none;
    max-width: 20em;
}