<div class="card p-4">
    <h1>Add an user</h1>
    <form [formGroup]="UserAddForm" (ngSubmit)="onSubmit()">
        <div class="d-flex">
            <mat-form-field appearance="fill" class="mat-form-field-fill px-2">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
                <mat-error *ngIf="UserAddForm.get('email').touched && UserAddForm.get('name').hasError('required')">
                    Please enter a name
                </mat-error>
            </mat-form-field>
            <mat-form-field class="px-2">
                <mat-label> Role :</mat-label>
                <mat-select formControlName="role">
                    <mat-option value="admin">Admin</mat-option>
                    <mat-option value="superAdmin">superAdmin</mat-option>
                    <mat-option value="artist">Artist</mat-option>
                </mat-select>
                <mat-error *ngIf="UserAddForm.get('role').invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>
        </div>
        <mat-form-field appearance="fill" class="mat-form-field-fill w-100">
            <mat-label>email</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="UserAddForm.get('email').invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <div class="w-100 my-2" >
            <button [disabled]="(isSaving$ | async) || invalid" mat-raised-button color="primary" style="float: right">
                Insert
                <mat-spinner *ngIf="isSaving$ | async" diameter="20" class="float-right m-2">
                </mat-spinner>
            </button>
        </div>
    </form>
</div>