// General colors
/****** SUCCESS ******/
$success: #b7d8b7;
/****** ERROR ******/
$error: #f8b7bd;
/****** WARNING ******/
$warn: #ffe399;
/****** BALCK ******/
$black: #212121;
/****** BLUE THEME ******/
$blueTheme: #027299;
/****** BLACK THEME ******/
$blackTheme: #000000;
/****** WHITE COLOR ******/
$white: #FFFFFF;

$blackOpacity: #f30c0cef
