
<div class="card p-4">
  <div class="d-flex justify-content-between">
    <h1>Add Product</h1>
    <img src="assets/img/logo.png" width="80px !important" height="auto" alt="logo">
  </div>
  <!-- <h1 class="m-3"></h1> -->
  <form [formGroup]="OeuvreAddForm" (ngSubmit)="onSubmit()" >
    <div>
      <mat-form-field appearance="fill" class="mat-form-field-fill w-100 px-2"   >
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="OeuvreAddForm.get('name').errors">{{
          getErrorMessage("name")
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="mat-form-field-fill w-100 px-2"   >
        <mat-label>objectName</mat-label>
        <input matInput formControlName="objectName" />
        <mat-error *ngIf="OeuvreAddForm.get('objectName').errors">{{
          getErrorMessage("objectName")
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100 mat-form-field-fill px-2">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" />
        <mat-error *ngIf="OeuvreAddForm.get('price').invalid">{{
          getErrorMessage("price")
        }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" class="mat-form-field-fill w-100 px-2" *ngIf="category">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" >
          <mat-option *ngFor="let st of category" [value]="st._id">{{st.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="mat-form-field-fill w-100 px-2">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description"/>
      </mat-form-field>
    </div>
    <div class="mat-form-field-fill px-2" *ngIf="!isUploadedImage" >
      <small>Upload product's images</small>
      <div class="images">
        <div class="image-container" *ngFor="let im of OeuvreAddForm.get('image'); index as i">
          <img [src]="im" alt="" class="image">
        </div>
      </div>
      <app-upload-file fileTypes="image" (uploadEvent)="onUploadFile($event)">          
      </app-upload-file>
    </div>
    <div class="w-100 my-2" >
      <button [disabled]="(isSaving$ | async) || invalid" mat-raised-button color="warn" style="float: right">
          Insert
          <mat-spinner *ngIf="isSaving$ | async" diameter="20" class="float-right m-2">
          </mat-spinner>
      </button>
  </div>
  </form>
</div>
