@import "../../assets/css/variables.scss";

mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  color: $blackTheme !important;
}

mat-sidenav-container {
  mat-sidenav-content {
    padding: 25px;
  }
}

mat-progress-bar {
  height: 1.5px;
}
