.dropdone-nk, .form-example-wrap, .invoice-wrap, .google-map-single, .data-map-single, .image-cropper-wp, .nk-cd-ed-wp, .bar-chart-wp, .line-chart-wp, .area-chart-wp, .flot-chart-wp, .wb-traffic-inner, .notika-icon-int{
	padding:20px;
	background:#fff;
}
.dropzone .dz-preview.dz-image-preview {
	background: #cc7373 !important;
}