.chat {
  height: 80vh;
  background: #FFF;
}

.main {
  height: 77%;
  //border: 2px solid red;
}

.send {
  height: 10%;
  //border: 1px solid blue;
}

.info {
  height: 9%;
  //border: 1px solid green;
}
